html{
  font-family: arial, verdana, sans-serif;
}
body{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.icone{
  display: none;
}
.nav {
  display: inline-block;
  float: right;
  margin-top: 3vw;
  margin-right: 2vw;
}
.nav a{
  text-decoration: none;
  color: #2d2d2d;
  background-color: #cbcedb;
  /*haut droite bas gauche*/
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-left: -0.2vw;
  border-right: 3px solid #2d2d2d;
}
.nav a:hover{
  color: #cbcedb;
  background-color: #2d2d2d;
}
#logo{
  margin-left: 2vw;
  width: 10vw;
}
#orga{
  margin-top: 4vw;
  margin-bottom: 3vw;
  padding-top: 1vw;
  background-color: #cbcedb;
}
#orga img{
  width: 50%;
}
.orgaContent{
  display: inline-block;
  text-align: center;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#text{
  margin-left: 1vw;
  text-align: justify;
}
td{
  border-left: 1px solid black;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 50%;
}
table{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#map iframe{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#contact input{
  width: 45%;
  margin: 1%;
}
textarea{
  width: 90%;
  margin: 1%;
}
#contact{
  padding-left: 1vw;
}
#contact input[type="submit"]{
  display: block;
   margin : auto;
}
#footer{
  margin-top: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: #cbcedb;
  text-align: right;
  font-style: italic;
}
#footer p{
  margin-right: 2vw;
}


@media screen and (max-width: 768px){
  .header{
    display: block;
    text-align: center;
  }
  .nav{
    display: block;
    margin-bottom: 2vw;
    margin-top: 2vw;
    float: none;
    text-align: center;
  }
  .nav a{
    margin-left: -0.5vw;
  }
  #logo{
    margin-left: auto;
    margin-right: auto;
  }
  .orgaContent{
    width: 50%;
  }
  #contact input{
    width: 90%;
    margin-bottom: 1vw;
  }

}

@media screen and (max-width: 425px){
  .nav{
    display: none;
  }
  .orgaContent{
    width: 100%;
  }
  #logo{
    width: 30%;
  }
  .icone{
    display: block;
  }
  #menu{
    width: 8%;
    margin-top: 15vw;
    margin-left: 5vw;
    float: left;
  }
  #iconecontact{
    width: 8%;
    margin-top: 15vw;
    margin-right: 5vw;
    float: right;
  }
  td{
    display: inline-block;
    width: 98%;
    border-left: none;
  }
  #menu:active{
    
  }
}
