body{
  font-size: 1.6rem;
  background-image: url("img/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;

}

h1{
  font-size: 8vw;
}
#premier{
  background-color: #1e3799;
}
#deux{
  background-color: white;
}
#trois{
  background-color: #e55039;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#calais{
  width: 100%;
}
#mairie{
  background: url("img/calais_l.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 960px;
}
table {
  margin-top: 2%;
  margin-bottom: 2%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
th{
  background-color: #999999;
}
label, input{
  display: block;
}

@media screen and (max-width: 414px) {
    #logo{
      width: 100%;
    }
    #mairie{
      width: 100%;
      height: 22vh;
    }
    td, th{
      display:block;
    }
}
@media screen and (max-width: 768px) and (min-width: 414px) {
    #mairie{
      height: 39vh;
      width: 100%;
    }
}

@media screen and (min-resolution: 96dpi ) {
  #mairie{
    background-image: url("img/calais_l.jpg");
  }

}

@media screen and (min-resolution: 192dpi ) {
  #mairie{
    background-image: url("img/calais_xl.jpg");
    background-size: 50%;
  }
}
