#premier{
  background-color: #1e3799;
}
#deux{
  background-color: white;
}
#trois{
  background-color: #e55039;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#calais{
  width: 100%;
}
#mairie{
  background: url("img/calais_l.jpg");
  background-repeat: no-repeat;
  width: 1280px;
  height: 960px;

}
label, input{
  display: block;
}

@media screen and (max-width: 414px) {
    #logo{
      width: 100%;
    }
}

@media screen and (min-resolution: 96dpi ) {
  #mairie{
    background-image: url("img/calais_l.jpg");
  }
}

@media screen and (min-resolution: 192dpi ) {
  #mairie{
    background-image: url("img/calais_xl.jpg");
    background-size: 50%;
  }
}
@media screen and (max-width: 1024px) {

}
