#premier{
  background-color: #1e3799;
}
#deux{
  background-color: white;
}
#trois{
  background-color: #e55039;
}

img{
  width: 50%;
}

@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}
