#premier{
  background-color: #1e3799;
}
#deux{
  background-color: white;
}
#trois{
  background-color: #e55039;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#calais{
  width: 100%;
}
#mairie{
  background: url("img/calais_l.jpg");
  background-repeat: no-repeat;
  width: 1280px;
  height: 960px;

}
label, input{
  display: block;
}
